/*
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #fff;
  max-width: 440px;
  width: 100%;
  border-radius: 20px;
  padding: 34px 36px;
  flex-direction: column;
  align-items: center;
}

.modal__body {
  background-color: #fff;
  max-width: 440px;
  border-radius: 20px;
  padding: 34px 36px;
  flex-direction: column;
  align-items: center;
}

.modal__content:item {
  background-color: #fff;
  width: 670px;
  height: 280px;
  border-radius: 2px;
  padding: 34px 36px;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.modal__title {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  align-items: column;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
}

.modal__fieldset {
  align-items: center;
  border: none;
  width: 100%;
  margin-top: 0;
  padding: 0;
}

.modal__fieldset:item {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  margin-top: 0;
  padding: 0;
  margin-left: 50px;
}

.modal__warning {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  padding: 0;
  flex-direction: column;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.modal__labelError {
  color: #ff4d00;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  color: rgba(0, 0, 0, 1);
  margin-top: 20px;
  margin-bottom: 0px;
}

.modal__label:last-child {
  margin-bottom: 10px;
}

.modal__input {
  padding: 5px;
  border: none;
  border-bottom: #000 solid 1px;
  font-size: 16px;
  height: 32px;
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: bold;
  padding-top: 0px;
}

.modal__inputError {
  color: #ff4d00;
  padding: 5px;
  border: none;
  border-bottom: #ff4d00 solid 1px;
}

.modal__input:last-child {
  margin-bottom: 0;
}

.modal__input::placeholder {
  transform: translateY(8px);
}

.modal__labelSelect {
  color: #808080;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  margin: 0;
}

.modal__labelSelect > div {
  margin: 5px;
}

input[type="radio"]:checked {
  background-color: #000;
  content: url("../../images/radioButton.svg");
}

input[type="radio"] + label {
  color: #808080;
}

input[type="radio"]:checked + label {
  color: #000;
  content: url("../../images/radioButton.svg") no-repeat;
}

.modal__close {
  margin-top: -30px;
  margin-left: 405px;
  background-color: transparent;
  border: none;
  position: absolute;
  outline: none;
  width: 20px;
  height: 20px;
  font-size: 24px;
  transition: opacity 0.2s linear;
  font-weight: bold;
  color: #838383;
}

.modal__close:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__weatherType {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.modal__save {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 36px;
  width: 73px;
  transition: 0.2s ease-in-out;
  margin-top: 45px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: bold;
}

.modal__save:hover:not(:disabled) {
  cursor: pointer;
  background-color: #000;
}

.modal__save:disabled {
  background-color: #d3d3d3;
}

.modal__save_enabled {
  background-color: #000;
  color: #fff;
}

.modal__delete {
  font-size: 17px;
  background-color: #fff;
  height: 24px;
  width: 100%;
  border-radius: 1px;
  cursor: pointer;
  border: none;
  pointer-events: all;
  color: rgba(255, 77, 0, 1);
  margin-bottom: 10px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  display: center;
  padding: 0px;
  font-weight: bold;
}

.modal__deleteItem {
  background-color: #fff;
  height: 24px;
  width: 100%;
  border-radius: 1px;
  cursor: pointer;
  border: none;
  pointer-events: all;
  color: rgba(255, 77, 0, 1);
  margin-bottom: 10px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.modal__cancel {
  background-color: #fff;
  height: 24px;
  width: 101px;
  border-radius: 1px;
  cursor: pointer;
  border: none;
  pointer-events: all;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-left: 190px;
  padding: 0px;
  font-weight: bold;
}

.modal__align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__save:hover {
  opacity: 0.5;
}

.modal__register {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  transition: 0.2s;
  position: relative;
  top: 28px;
  left: 80px;
  margin-bottom: -44px;
  width: fit-content;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: bold;
  border: none;
  background-color: #fff;
}

.modal__register {
  cursor: pointer;
}
*/
