.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 98%;
}

.footer__text {
  font-size: 20px;
  font-weight: bold;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}

.footer__year {
  font-size: 20px;
  font-weight: bold;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}

.profile__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}
